{:deps true
 :source-paths ["src" "test"]

 :builds
 {:test
  {:target :node-test
   :output-to "out/node-tests.js"
   :entries [brazilian-utils.test-runner]
   :autorun true}

  :browser
  {:target :browser
   :output-dir "out/browser"
   :asset-path "/js/browser"
   :modules {:main {:entries [brazilian-utils.index]}}}}}